
{% load static %}
{% block content %}


<html><link rel="stylesheet" type="text/css" href="{% static 'pol/style.css' %}">
<link rel="stylesheet" type="text/javascript" href="{% static 'pol/materialize.min.js' %}">
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="{% static 'pol/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<head>

<ul id="slide-out" class="sidenav">
    <li>

    <div class="user-view ">
      <div class="background">
      </div>
      <div class="right">

      </div>
    </div>
    </li>
    
    <li><a class="btn waves-effect  waves-light  " href="{% url 'pol:mhome'  %}"><i class="material-icons right">send</i>Home</a></li>
    <li><div class="divider"></div></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        
 <script>
    document.addEventListener('DOMContentLoaded', function() {
     var elems = document.querySelectorAll('.sidenav');
    
     var instances = M.Sidenav.init(elems); 
     console.log(instances)
   });
 


 </script>

<div class="container column">
    <div class="col s6 m6 ">
    <div class="card horizontal blue lighten-3  ">
      <div class="card-image">
    
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="card-title center">Create New Account</span>

            <form method="POST">
                {% csrf_token %} 
                <div class="">
                  {{form.as_p}}
                </div>
                
                <button class="btn waves-effect blue lighten-2 waves-light">Submit</button>
            </form>
        </div>
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}